.wrapper {
  background: #ECEFF1;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

@media only screen and (min-width:1100px) {
  .wrapper {
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;}
  }
  .wrapper {
    display: flex;
    min-height: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}