.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-color: rgb(73, 77, 97);
    border-right: 2px solid rgb(29, 48, 75);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-size: cover;
    background-position: center center; */
}

.topBar {
    background-color: rgb(73, 77, 97);
}

.navItem {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

/* .sidebar .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 30px; }
      .sidebar .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center; } */
.logo {
    padding: 10px 10px 10px 10px;
    position: relative;
    z-index: 4;
}

.logo span {
    width: 150px;
    /* float: left; */
    font-size: 23px;
    margin: 5px 30px;
    color: #FFFFFF;
    line-height: 20px;
    display: block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.238em;
    padding: 3px 12px 2px 14px;
    border-style: solid;
    border-width: 4px;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2), 4px 4px 4px rgba(206, 89, 55, 0);
}

.blueBar {
    color: #fff;
    background-color: #12131f;
}

/* .sidebar .logo .logo-img {
          width: 34px;
          display: inline-block;
          height: 34px;
          margin-left: -2px;
          margin-top: -2px;
          margin-right: 10px;
          border-radius: 30px;
          text-align: center; }
       */