.footer{
    background-color: rgb(24, 25, 77);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    border-top: 3px solid rgb(14, 26, 43);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    }
