.form-control {
    width: 100%;
    }

.form-control:hover{
    background-color: yellow;
}

.signIn{
    width:50%;
    margin-left: 30%;
    margin-top:25%
}

#email{
    padding-top:8px;
}

#password{
    padding-top:5px;
    padding-bottom: 25px;
}

.signUpLink{
 margin-top: 20px;
 padding-top: 20px;
 font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

#header{
    padding-bottom: 10px
}