.form-control {
    width: 100%;
    }

.form-control:hover{
    background-color: yellow;
}

.registerIn{
    width:60%;
    margin-left: 25%;
    margin-top:8%;
}

#email{
    padding-top:8px;
}

#password{
    padding-top:5px;
    padding-bottom: 25px;
}

.registerLink{
 margin-top: 10px;
 padding-top: 20px;
 font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

#regHeader{
    padding-bottom: 5px
}

#fullName{
    padding-top: 12px;
}